@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:ital,wght@0,400;0,500;1,400&display=swap');

/* Initial Setup */
:root {
    --lg-font: 'Roboto', sans-serif;
    --sm-font: 'Rubik', sans-serif;
    --orange: #F66B0E;
    --black: #112B3C;
    --smoke-white: #EFEFEF;
}

body {
    font-family: var(--sm-font);
}

.btn:not(.nav-btns button){
    background-color: var(--smoke-white);
    color: rgb(17, 43, 60);
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid black;
}

.btn:not(.nav-btns button):hover{
    background: var(--orange);
    color: white;
    border: black;
}

/* Navbar */
.navbar-brand img{
    width: 30px;
}

#brand {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}

#register {
    background-color: var(--orange);
    border: 1px black solid;
    border-radius: 2px;
}


/* Hero */
#hero {
    background: url(../img/banner-img-1.png) top/cover;  
}

#adopt {
    padding-top: 60%;
}

.featured i {
    top: 10px;
    right: 10px;
}

/* Featured */
#featured {
    background-color: var(--smoke-white);
}

.special-img span {
    top: 8px;
    right: 8px;
}

.orange {
    background-color: var(--orange);
}

/* Dog Foods */
#dog-foods {
    background-color: var(--smoke-white);
}

.dog-food span {
    top: 8px;
    right: 8px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.dog-food img {
    height: 300px;
}